{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class="top">About The Flights Mystic</h1>
		
        <p>With the power of The Flights Mystic, air travelers can now foresee airline and aiport delays and cancellations.    
		Using Bayesian Inference with historical On-Time Performance data collected by the <a href="http://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&amp;DB_Short_Name=On-Time"> Bureau of Transportation Statistics</a>,
		The Flights Mystic can help you plan your air travel and maximize your valuable time.
		</p>
		
		<h3>Contact</h3>
<p>Questions, comments, or suggestions can be sent to <a href="mailto:contact@flightontimeinfo.com">contact@flightontimeinfo.com</a></p>
		
      </div>
</div> <!-- /container -->
{% endblock %}
